* {
  margin: 0;
  padding: 0;
}

.messagesSection {
  min-height: 70vh;
  max-height: 70vh;
  margin-top: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.btnfloat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 2px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 2px;
}

.chat-tip::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--tw-bg-opacity, 1) var(--tw-bg-color);
}

.chat-tip-user::before {
  border-bottom-color: yellow; /* Match this color to your user message background color (bg-indigo-500) */
}

.chat-tip-bot::before {
  border-bottom-color: #10b981; /* Match this color to your bot message background color (bg-green-500) */
}
